<!DOCTYPE html>
<html>
  <head>

    <title>Desafiolens</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="app/assets/css/main.css" />
    <link rel="stylesheet" href="app/assets/css/noscript.css" />
  
  </head>

  <body class="is-preload-0 is-preload-1 is-preload-2">
   <!-- Main -->
	<div id="main">
      <%=render "shared/header"%>
                              <!-- Main -->
	      
      <%= yield %>
    <!-- Footer -->
      <%=render "shared/footer"%>
			<%= javascript_include_tag 'jquery.min'%>
			<%=javascript_include_tag 'browser.min'%>
			<%=javascript_include_tag 'breakpoints.min' %>
			<%=javascript_include_tag 'main.js' %>
      </div>
  </body>
</html>
